body,
* {
  margin: 0;
}

body {
  height: 100vh;
}

#root {
  display: flex;
  height: 100%;
  flex-direction: column;
}

.vaporwave-one {
  background-image: url("/public/images/background-vaporwave-cyber.png");
}

.main {
  background-image: url("/public/images/background-vaporwave-cyber-2.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: inherit;
  position: relative;
}
