@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap");

body,
* {
  margin: 0;
}

body {
  height: 100vh;
  font-family: "Orbitron", sans-serif;
}

#root {
  display: flex;
  height: 100%;
  flex-direction: column;
}

.vaporwave-one {
  background-image: url("/public/images/background-vaporwave-cyber.png");
}

.vaporwave-two {
  background-image: url("/public/images/background-vaporwave-cyber-2.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: inherit;
  position: relative;
}
