.background {
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  border-top: solid black 1px;
  border-right: solid black 1px;
  border-bottom: solid #dee3ef 1px;
  border-left: solid #dee3ef 1px;
  box-shadow: inset -5px 5px 15px 1px black, inset 1px -1px 15px 1px white;
  padding: 2rem;
}

.vaporwave-one {
    background-image: url("/public/images/background-vaporwave-cyber.png");
  }

.vaporwave-two {
    background-image: url("/public/images/background-vaporwave-cyber-2.png");
  }